SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=application@e-systems.su
SMTP_PASS=zCOnZxfTcI16BvcA0Eba
EMAIL_FROM=Энергосистемы <application@e-systems.su>
EMAIL_TO=sales@e-systems.su
EMAIL_CC=inbox@e-systems.su
